<form action="/experiences/edit/?method=PUT" method="POST">
    <label for="title">Experience Title:</label>
    <input id="title" type="text" name="title" value="<%= experience.title %>" required>

    <label for="description">Experience Description:</label>
    <input id="description" type="text" name="description" value="<%= experience.description %>" required>
    <input id="experienceId" name="id" value="<%= experience.id %>" hidden>

    <button type="submit">Update</button>

</form>

<form action="/experiences/edit/?_method=DELETE" method="POST">
    <input id="experienceId" name="id" value="<%= experience.id %>" hidden>

    <button type="submit">Delete Experience</button>

</form>

