<form action="/experiences/edit/?_method=PUT" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= experience.title %>" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Describe your experience</label>
        <input type="text" class="form-control" id="description" name="description" value="<%= experience.description %>" required>
      </div>

        <input id="experienceId" name="id" value="<%= experience.id %>" hidden>

    <button type="submit" class="btn btn-success">Update</button>

</form>

<form action="/experiences/delete/?_method=DELETE" method="POST">
    <input id="experienceId" name="id" value="<%= experience.id %>" hidden>

    <button type="submit" class="btn btn-success">Delete Experience</button>

</form>

