<h2>Record your experience at <%= fullName %></h2>

<form action="/experiences/new" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Experience Title:</label>
        <input id="title" class="form-control" type="text" name="title" required>

        <label for="description" class="form-label">Describe your experience:</label>
        <input id="description" class="form-control" type="text" name="description" required>

        <% console.log(parkCode) %>
        <input id="parkCode" name="parkCode" value="<%= parkCode %>" hidden>
        <input id="fullName" name="fullName" value="<%= fullName %>" hidden>
    </div>
    <button type="submit" class="btn btn-success">Post Experience</button>

</form>