<h2>Welcome home</h2>

<p>To begin viewing national parks, reading user experiences, and adding your own experiences to the community, please <a href="/users/new">create an account</a> or <a href="/users/login">login.</a></p>
