<h2>Welcome to your profile, <%= user.name %>!</h2>

<h3>My Favorite Parks:</h3>

<% favorites.dataValues.parkCode.forEach(code => { %>
    <div>
        <h2>
            <% favorites.parkCode %>
            <%= parks.fullName %>
        </h2>
    </div>
<% }) %>

