<h1>All US National Parks</h1>

<div>
    <% parks.forEach(park => { %>
            <div>
                <h2>
                    <%= park.fullName %>
                </h2>
            </div>
<% }) %>
</div> 